{%extends "base.html"%} {%block styles%}
<link
  href="{{ url_for('static', filename='css/profile.scss.css') }}"
  rel="stylesheet"
  type="text/css" />
{%endblock%} {%block main_content%} {% include 'navbar.html'%}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">User profile</h4>
        </div>
        <div class="panel-body">
          <div class="profile__avatar">
            <img
              src="{{ url_for('static',filename='profile_pics/'+user.profile_picture)}}"
              alt="..." />
          </div>
          <div class="profile__header">
            <h4>{{user.first_name}} {{user.last_name}}</h4>
            <p class="text-muted">{{user.bio}}</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">User info</h4>
        </div>
        <div class="panel-body">
          <table class="table profile__table">
            <tbody>
              <tr>
                <th><strong>Location</strong></th>
                <td>{{user.location}}</td>
              </tr>
              <tr>
                <th><strong>Phone number</strong></th>
                <td>{{ user.phone_number }}</td>
              </tr>
              <tr>
                {%if user.facebook or user.twitter or user.instagram%}
                <th><strong>Social Media</strong></th>
                {%endif%} {%if user.facebook %}
                <td>
                  <i class="bi bi-facebook"></i>
                  <a href="{{user.facebook}}">Facebook Link</a>
                </td>
                {%endif%} {%if user.twitter %}
                <td>
                  <i class="bi bi-twitter-x"></i>
                  <a href="{{user.twitter}}">Twitter Link</a>
                </td>
                {%endif%} {%if user.instagram %}
                <td>
                  <i class="bi bi-instagram"></i>
                  <a href="{{user.instagram}}">Instagram Link</a>
                </td>
                {%endif%}
              </tr>
              <tr>
                <th><strong>Member since</strong></th>
                <td>
                  {% if user.member_since is not none %}{{
                  user.member_since.strftime('%Y-%m-%d') }}{% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">History</h4>
        </div>
        <div class="panel-body">
          <div class="profile__comments">
            {% for history_entry in history %}
            <div class="profile-comments__item">
              <div class="profile-comments__avatar">
                {% if history_entry.action.value == 'Updated his/her profile'%}
                <i class="bi bi-gear-fill h2"></i>
                {%elif history_entry.action.value == 'Registered'%}
                <i class="bi bi-person-add h2"></i>
                {%elif history_entry.action.value == 'Posted a ticket'%}
                <i class="bi bi-ticket-fill h2"></i>
                {%endif%}
              </div>
              <div class="profile-comments__body">
                <h5 class="profile-comments__sender">
                  User: {{ user.first_name }} {{ user.last_name }}
                  <small>
                    {{ history_entry.timestamp.strftime('%Y-%m-%d') }}
                  </small>
                </h5>
                <div class="profile-comments__content">
                  Action: {{ history_entry.action.value }}
                  <br />
                  Details: {{ history_entry.details }}
                  <br />
                  {% if history_entry.ticket_id is not none %} Ticket ID: {{
                  history_entry.ticket_id }} {%endif%}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- Contact user -->
      <p>
        <a
          href="#"
          class="profile__contact-btn mt-4 btn btn-lg btn-block btn-info"
          data-toggle="modal"
          data-target="#profile__contact-form">
          Contact user
        </a>
        {% if user %}
        <a
          href="{{url_for('user.update')}}"
          class="profile__contact-btn mt-4 btn btn-lg btn-block btn-info"
          data-toggle="modal"
          data-target="#profile__contact-form">
          Update profile
        </a>
        {%endif%}
      </p>
      <div class="profile__contact-info">
        <div class="profile__contact-info-item">
          <div class="profile__contact-info-icon">
            <i class="fa fa-envelope-square"></i>
          </div>
          <div class="profile__contact-info-body">
            <h5 class="profile__contact-info-heading">E-mail address</h5>
            <a href="mailto:admin@domain.com">{{user.email}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
